---
layout: archive
title: "Contact me"
permalink: /contact/
author_profile: true
---

{% include base_path %}

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdfXzSEn52nrlxZW1XOJvP-x8580L9zRKqX8wHNuwMEcApY5A/viewform?embedded=true" width="640" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

  {% include archive-single.html %}


<!-- 
{% include base_path %}
{% include archive-single.html %} -->
<!-- <ul>{% for post in site.talks %}
  {% include archive-single-talk-cv.html %}
{% endfor %}</ul>


{% for post in site.contact %}

  {% include archive-single.html %}
{% endfor %} -->

